<mat-toolbar color="primary">
  <mat-toolbar-row>
    
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>
 
  <span>VE-Connect</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/home">Home</button>
  <span class="spacer"></span>

  <button mat-button routerLink="/about">About Us</button>
  <span class="spacer"></span>

  <button mat-button routerLink="/register">Register</button>
  <span class="spacer"></span>

  <button mat-button (click)="openDialog()">Login</button>
  <span class="spacer"></span>

  <button mat-button routerLink="/event">Event</button>
  <span class="spacer"></span>

  <button mat-button routerLink="/gallery">Gallery</button>
  <span class="spacer"></span>

  <button mat-button routerLink="/contact us">Contact Us</button>
  <span class="spacer"></span>

  <button mat-button routerLink="/login">Logout</button>
 
</mat-toolbar-row>
</mat-toolbar>

<main class="mainAppContainer">
  <router-outlet></router-outlet>
</main>


